# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git_download\awesome-junzhi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
